.billMainWrapper{
        padding: 30px 22px;
        background-color: #F1F1F6;
        min-height: calc(100vh - 80px);
}

.salesInvoiceTitle{
    font-size: 28px ;
    font-weight: 800;
    margin-bottom: 10px;
}
.billWrapper{
    background-color: #FFFFFF;
    width: 100%;
    border: none;
    margin: 2px 0px;
    border-radius: 40px;
    padding: 50px 45px;
    box-shadow: 1px 0px 20px 3px rgb(240, 240, 240)
}


.billCustomerDetail{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.billDetail{
    width: 40%;
}
.customerDetail{
    width: 40%;
}
.inputNameFiled{
    
}

.inputFiled{
    /* border; */
    margin-top: 8px;
    border-radius: 8px;
    border: 1px solid lightgrey;
    /* border: none; */
    padding: 5px 20px;
    width: 100%;
    background-color: #F8F8F7;
    color: black;
    font-weight: 500;
}

.billTable{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    /* border-radius: 8px; */
}
.billTable td,th{
    /* border: 1px solid #dddddd; */
    text-align: left;
    padding: 8px;
    border: 1px solid grey;
}

 /* .billTable tr:nth-child(even) { */
    /* background-color: #dddddd; */
  /* } */

  .billTable{
    width: 100% ;
    font-weight: 500;
    color: black;
    margin: 22px 0px;
}

.billTable td,th{
    border: 1px solid grey;
    padding: 5px 8px;
    color: rgb(82, 82, 82);
    font-weight: 600;
    /* width: fit-content; */
    /* display: inline-block; */
}
.billTable th{
    padding: 10px 8px;
    font-weight: 900;
    font-size: 18px;
    color: black;
    /* display: inline; */
}

.billTable input{
    border: none;
    /* display: inline-block; */
    /* width: 33px; */
}

.thSrNo{
width: 1px;
}

.thName{
width: 40%;
}

.thPrice{
    /* width: 200px; */
    /* display: inline-block; */
    /* display: flex; */
    width: 10%;

}
.thPrice input{
     width: 80%;
}

.thPprice{
    /* width: max-content; */
    /* width: 100px; */
    width: 15%;
    /* display: flex; */
}
.thPprice input{
    /* width: max-content; */
    /* width: 50px;/ */
    width: 80%;

}

.thQuantity{
width: 10%;
}
.thQuantity input{
width: 100%;
}

.thTotal{

}

.thAction{
    width: 2%;

}

/* to remove input number arrow */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

  /* buttnon */
  .newRowBtnWrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .newRowBtn{
    padding: 10px 18px;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    background-color: #ffd979;
    color: black;
    transition: .3s all ease-in-out;
  }
  .newRowBtn:hover{
    background-color: #FFCA40;
    color: black;
  }

  /* reset button */
  .resetBill{
      border: none;
      padding: 10px 20px;
      border-radius: 8px;
      /* margin-top: 20px; */
      font-weight: 600;
      background-color: #c8161D;
      color: white;
  }


  /* deleteIconWrapper */
.deleteIconWrapper {
    padding: 5px 10px;
    background-color: #fee6ea;
    border-radius: 6px;
    cursor: pointer;
    /* width: 50%; */
    transition: .3s all ease-in-out;
    display: inline-block;
    /* margin-right: 5px; */
}

.deleteIconWrapper:hover {
    background-color: #f72b50;
}

/* deleteIcon */
.deleteIcon {
    color: #f72b50;
    padding-bottom: 2px;
    text-align: center;
}

.deleteIconWrapper:hover .deleteIcon {
    color: #ffffff;
}

/* profit section wrapper */
.profitSectionWrapper{
    margin-top: 20px;
}

.profitWrapper{
    display: flex;
    align-items: center;
}
